* Name: Aniket Kale
* Class: R Programming
* Home Work 1

# Problem 1: Use R as a calculator to compute the following values.

In [1]:
# 1 Problem number 1
a <- (38-17)*27
a

[1] 567

In [2]:
# 2 Problem number 2
a <- 14**7
log(a)

[1] 18.4734

In [3]:
# 3 Problem number 3
a <- 436/12
sqrt(a)

[1] 6.027714

# Create the following vectors in R.

In [4]:
# 1
a <- c(seq(5,160,5))
print(a)

 [1]   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95
[20] 100 105 110 115 120 125 130 135 140 145 150 155 160

In [5]:
# 2
b <- seq(87,56,-1)
b

 [1] 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63
[26] 62 61 60 59 58 57 56

In [6]:
a[19]

[1] 95

# Use vector arithmetic to multiply these vectors and call the result d.Select subsets of d to identify the following

In [7]:
# we will multiply the a and b
d <- a*b 
d

 [1]  435  860 1275 1680 2075 2460 2835 3200 3555 3900 4235 4560 4875 5180 5475
[16] 5760 6035 6300 6555 6800 7035 7260 7475 7680 7875 8060 8235 8400 8555 8700
[31] 8835 8960

In [8]:
# What are the 19th, 20th, and 21st elements of d?
d[19]

[1] 6555

In [9]:
d[20]

[1] 6800

In [10]:
d[21]

[1] 7035

In [11]:
# What are all of the elements of d which are less than 2000?
d[d < 2000] # you will see the values

[1]  435  860 1275 1680

In [12]:
d < 2000 # in bolean form

 [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [13]:
# How many elements of d are greater than 6000?
x <- d > 6000
print(x)
table(x)

# so we have 16 True values. that means 16 values are greater than 6000

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[25]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

x
FALSE  TRUE
   16    16

# Using d from problem 2, use R to compute the following statistics of d:

In [14]:
# sum of the d
sum1 = sum(d)
sum1

[1] 175120

In [15]:
# Median of d
median1= median(d)
median1

[1] 5897.5

In [16]:
sd1= sd(d)
sd1

[1] 2608.563

# Problem 4: Use R to create the following matrix.Then write an R command to change the value in the 1st row and 4th column to be 18.

In [17]:
z = cbind(c(1,2,3), c(7,8,9), c(12,13,14), c(19,20,21))
z

     [,1] [,2] [,3] [,4]
[1,] 1    7    12   19
[2,] 2    8    13   20
[3,] 3    9    14   21

In [18]:
# you can see the class of z
class(z)

[1] "matrix"

In [19]:
# Now we have change the element of 1 row and 4th column
z[1,4] <- 18 
z

     [,1] [,2] [,3] [,4]
[1,] 1    7    12   18
[2,] 2    8    13   20
[3,] 3    9    14   21