- Name: Aniket Devidas Kale
- Class- R programming
- Case study in Python.

# Section -4 Written In Python code.
# Apply some of the Machine Learning Tech

In [1]:
# Load the lib
import pandas as pd

In [2]:
data = pd.read_csv("digits data(1)/digits_train.csv")
data = data.loc[0:1000,:]
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# We have more 785 Columns and 42000 rows
data.shape

(1001, 785)

# We already know. We have clean data so we dont need to work on the data preprocessing and cleaning

In [4]:
data.label.value_counts(normalize=True)

2    0.123876
0    0.106893
7    0.104895
4    0.101898
9    0.096903
6    0.096903
1    0.096903
8    0.092907
3    0.089910
5    0.088911
Name: label, dtype: float64

In [5]:
# We have all Label values with 10 Percent count of each label
cols = data.columns
features = cols.drop('label')
X = data[features]
y = data.label
# we have Features and y label value
print(X.shape)
print(y.shape)

(1001, 784)
(1001,)

In [6]:
X_test = pd.read_csv('digits data(1)/digits_test.csv')
X_test = X_test.loc[0:1000,:]
X_test.shape

(1001, 784)

In [7]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
y_pred = log_reg.predict(X_test)

In [10]:
from sklearn import metrics
metrics.accuracy_score(y,y_pred)

0.1048951048951049

In [ ]:
# Our Accuracy is 10 Percent. But We know that our data is very high dimesional and we cannot process all the data
# using our computer. it will take more than hour to execute the all rows and columns
# Even we have 10 classification class. thats why its very difficult to predict the number.
# above data set is not made for the prediction.

# Conclusion:

# Due to Computation Power. I've only Process 1000 Rows of data.
# Not a Machine learning Problem: I cannot get rid off the zeros. since its spread randomly as per the pixel
# We have more than 10 classes to classify. its very difficult to predict the 10 classes.
# Even I have tried to delete the zero rows but we cannot do that its not features its just Pixel values of each digit.